{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

<a href="{{ path('address_add') }}" class="btn btn-info-sm float-right">Add an adress</a>

<h1>My addresses</h1><br>
<small>Here you can handle all your addresses</small>

<a href="{{ path ('account') }}">Back</a>
<hr>

<div class="row">
    {% for address in app.user.addresses %}
        <div class="card mr-3" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ address.name }}</h5>
                <p class="card-text"{{ address.address }}, {{ address.zipcode }}/{{ address.city }}</p>
                <p>{{ address.country }}</p>
                <a href="{{ path('address_edit', { 'id' : address.id}) }}">Amend</a> | <a href="{{ path('address_delete', { 'id' : address.id}) }}">Delete</a>
            </div>
        </div>
    {% else %}
        You haven't had any address right now, please do by <a href="{{ path('address_add') }}">clicking here</a> 
    {% endfor %}
</div>

{% endblock %}